.contact-container {
   max-width: 1000px;
  margin: auto;
  text-align: center;
}
.contact-info {
 text-align: left;
  margin-bottom: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 20px;
  
}
