.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e6f2ff, #b3d9ff);
  font-family: "Segoe UI", sans-serif;
}

.login-box {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 102, 204, 0.2);
  width: 350px;
  text-align: center;
}

.login-title {
  color: #004c99;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  text-align: left;
  margin-bottom: 5px;
  color: #0059b3;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #80bfff;
  border-radius: 5px;
  font-size: 14px;
}

.login-form button {
  padding: 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.login-form button:hover {
  background-color: #005bb5;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
