.footer {
    background: linear-gradient(135deg, #ffffff, #114ccc);
    color: #f9f9f9;
    padding: 40px 20px 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}
/*left side - About*/
.footer-left {
    flex: 1;
    min-width: 250px;
}
.footer-left h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

/*center - Links*/
.footer-center {
    flex: 1;
    min-width: 250px;
    text-align: left;
    gap: 10px;
}
.footer-center h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}
.footer-center ul {
    list-style: none;
    padding: 0;
}
.footer-center ul li {
    margin-bottom: 8px;
}
.footer-center ul li a {
    color: #e0d2d2;
    text-decoration: none;
}
.footer-center ul li a:hover {
    text-decoration: underline;
}
/*right side - Contact*/
.footer-right {
    flex: 1;
    min-width: 250px;
}
.footer-right h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}
.footer-right p {
    margin-bottom: 8px;
    line-height: 1.6;
}
.footer-right span {
    font-weight: 500;
    color: #d1c4c4;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #e0d2d2;
}
.footer-bottom a {
    color: #e0d2d2;
    text-decoration: none;
}
.footer-bottom a:hover {
    text-decoration: underline;
}
.footer-bottom span {
    font-weight: 600;
}
.footer-bottom .highlight {
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-left,
    .footer-center,
    .footer-right {
        min-width: 100%;
        text-align: center;
    }
}



